#btnSubmeter {
        -fx-background-color: #2A4D6F;
        -fx-border-radius: 66;
        -fx-background-radius: 66;
        -fx-text-fill: white;
}

#btnSubmeter:hover {
        -fx-background-color: #1C334A;
}

#scrollPaneDescription > .viewport {
        -fx-background-color: #0E1A25;
}
.scroll-pane {
        -fx-border-color: #FFFFFF;
        -fx-border-width: 2px;
        -fx-border-style: solid;
}

